
body {
    font-family: Arial, sans-serif;
    margin: 0;
    
    background-color: #f7f7f7;
}

.profile {
    background: white;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.profile img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.profile h2 {
    margin: 10px 0;
}

.profile p {
    margin-top: 10px;
    color: gray;
}

.social-links a {
    margin: 5px;
    color: #007bff;
}

.logout-button {
    display: inline-block;
    margin-top: 15px;
    padding: 12px;
    width: 100px;
    background-color: transparent;
    color: rgb(33, 153, 169);
    border: 3px solid rgb(33, 153, 169);
    border-radius: 30px;
    cursor: pointer;
}

h1 {
    margin-bottom: 20px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
}

.collections {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.collection {
    background-color: white;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    height: 250px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.collection img {
    width: 100%;
    height: 150px;
    border-radius: 8px;
    object-fit: cover;
}

.collection p {
    margin: 0;
    color: #666;
}

.new-collection {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #ccc;
    border-radius: 8px;
    height: 250px;
    background-color: #fff;
    position: relative;
}

button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
}